@model Asset.Web.KopAsset

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content container-fluid">


    <div class="card-box">
        <div class="row">
            <div class=" card-body">


                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-for="Name" class="control-label"></label>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <div class="form-group">
                                    <label asp-for="Type" class="control-label"></label>
                                    <input asp-for="Type" class="form-control" />
                                    <span asp-validation-for="Type" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-for="Tenure" class="control-label"></label>
                                    <input asp-for="Tenure" class="form-control" />
                                    <span asp-validation-for="Tenure" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <div class="form-group">
                                    <label asp-for="Value" class="control-label"></label>
                                    <input asp-for="Value" class="form-control" />
                                    <span asp-validation-for="Value" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-for="CorpNName" class="control-label"></label>
                                    <input asp-for="CorpNName" class="form-control" />
                                    <span asp-validation-for="CorpNName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <div class="form-group">
                                    <label asp-for="CorpId" class="control-label"></label>
                                    <input asp-for="CorpId" class="form-control" />
                                    <span asp-validation-for="CorpId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-for="AssetDate" class="control-label"></label>
                                    <input asp-for="AssetDate" class="form-control" />
                                    <span asp-validation-for="AssetDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <div class="form-group">
                                    <label asp-for="CopAssetRegNo" class="control-label"></label>
                                    <input asp-for="CopAssetRegNo" class="form-control" />
                                    <span asp-validation-for="CopAssetRegNo" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-for="AssetRegNo" class="control-label"></label>
                                    <input asp-for="AssetRegNo" class="form-control" />
                                    <span asp-validation-for="AssetRegNo" class="text-danger"></span>
                                </div>
                            </div>


                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-success" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>

<a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
<a class="btn btn-primary" asp-action="Index">Back to List</a></div>
