@model Asset.Web.Models.ApplicationUser
<div class="content container-fluid">
    <form method="post">
        <div class="card-box">
            <h3 class="card-title">Reset Password</h3>
            <div class="row">
                <label class="form-group alert-danger">@ViewBag.Error</label>
                <div class="col-md-12">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label class="control-label"></label>
                        <input class="form-control" asp-for="Email" value="@ViewBag.UserMail" readonly />
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" />
                    </div>


              
            </div>
            <div>
                <a asp-Controller="Account" asp-action="Users" class="btn btn-success">Back to List</a>
            </div>
        </div>
            </div>
    </form>
</div>