
@model Asset.Web.Models.AccountViewModels.ResetPasswordViewModel


@{
    ViewData["Title"] = "Change Password";
    Layout = "_Login";
    var action = "";
}
}
<style>
    #frmCheckPassword {
        border-top: #F0F0F0 2px solid;
        background: #808080;
        padding: 10px;
    }

    .demoInputBox {
        padding: 7px;
        border: #F0F0F0 1px solid;
        border-radius: 4px;
    }

    #password-strength-status {
        padding: 5px 10px;
        color: #FFFFFF;
        border-radius: 4px;
        margin-top: 5px;
    }

    .medium-password {
        background-color: #b7d60a;
        border: #BBB418 1px solid;
    }

    .weak-password {
        background-color: #ce1d14;
        border: #AA4502 1px solid;
    }

    .strong-password {
        background-color: #12CC1A;
        border: #0FA015 1px solid;
    }
</style>

<script src="~/assets/js/jquery-3.2.1.min.js"></script>

@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>*@
<script>
    function checkPasswordStrength() {
        var number = /([0-9])/;
        var alphabets = /([a-zA-Z])/;
        var special_characters = /([~,!,#,$,%,^,&,*,-,_,+,=,?,>,<])/;
        if ($('#Password').val().length < 8) {
            $('#password-strength-status').removeClass();
            $('#password-strength-status').addClass('weak-password');
            $('#password-strength-status').html("Weak (should be atleast 8 characters.)");
            document.getElementById("submit").disabled = true;

        } else {
            if ($('#Password').val().match(number) && $('#Password').val().match(alphabets) && $('#Password').val().match(special_characters)) {
                $('#password-strength-status').removeClass();
                $('#password-strength-status').addClass('strong-password');
                $('#password-strength-status').html("Strong");
                // document.getElementById("submit").disabled = false;

            } else {
                $('#password-strength-status').removeClass();
                $('#password-strength-status').addClass('medium-password');
                $('#password-strength-status').html("Medium (should include alphabets, numbers and special characters.)");
                document.getElementById("submit").disabled = true;

            }
        }
    }
    function ComparePassword() {
        var NewPass = $('#Password').val();
        var ComparePass = $('#ConfirmPassword').val();
        if (NewPass != ComparePass) {
            document.getElementById("submit").disabled = true;
            $('#PassMatch').html("Password Missed Matched");
        }
        else {
            // alert("ok");
            $('#PassMatch').html("");
            document.getElementById("submit").disabled = false;
        }
    }
</script>


<div class="login login-with-news-feed">
    <!-- begin news-feed -->
    <div class="news-feed">
        <div class="news-image" style="background-image: url(../assets/img/ERP4.jpg)"></div>
        <div class="news-caption">
            <h4 class="caption-title"><b>ALPHABETA - Enterprise </b> </h4>

        </div>
    </div>
    <!-- end news-feed -->
    <!-- begin right-content -->
    <div class="right-content">
        <!-- begin login-header -->
        <div class="login-header">
            <div class="brand">
                <span class="logo"></span> <b></b> Reset Password
            </div>
        </div>
        <!-- end login-header -->
        <!-- begin login-content -->
        <div class="login-content">

            <form asp-controller="Account" asp-action="ResetPassword" method="post" class="login100-form">
                @if (ViewBag.msg != "")
                {
                    <div class="col-sm-12" style="margin-top: -15px; padding-left: 0px; padding-right: 0px; margin-bottom: 0px;">
                        <div id="dialog-form" title="Login Error">
                            <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
                            <p><b>@ViewBag.msg</b></p>
                        </div>
                    </div>
                }
                <span class="login100-form-title p-b-10 p-t-15"></span>
                <div>



                    <label class="control-label" style="margin-top:25px;"> Password <span class="text-danger">*</span></label>
                    <div class="wrap-input100">
                        <input class="form-control text-form-control" style="width: 100%;" type="password" asp-for="Password" onKeyUp="checkPasswordStrength()" ; required>
                        <span class="focus-input100" data-placeholder="&#xf191;"></span>
                        <div id="password-strength-status"></div>

                    </div>

                    <label class="control-label" style="margin-top:25px;">Confirm Password <span class="text-danger">*</span></label>
                    <div class="wrap-input100">
                        <input class="form-control text-form-control" style="width: 100%;" type="password" asp-for="ConfirmPassword" onKeyUp="ComparePassword()" ; required>
                        <span class="focus-input100" data-placeholder="&#xf191;"></span>
                        <div id="password-strength-status"></div>

                    </div>

                    <input type="hidden" asp-for="Token" class="form-control" />
                    <input type="hidden" asp-for="Email" class="form-control" />

                    @*<label class="control-label" style="margin-top:25px;">Token <span class="text-danger">*</span></label>
                        <div class="wrap-input100">
                            <input class="form-control text-form-control" style="width: 100%;" type="password" asp-for="MyPass.Token">
                            <span class="focus-input100" data-placeholder="&#xf191;"></span>
                        </div>*@


                    <div class="container-login100-form-btn" style="margin-top:25px;">
                        <input type="submit" class="btn btn-primary btn-lg" style=" width:100%; color:white;" id="submit" value="Reset Password">
                    </div>
                    <div class="m-t-20" style="margin-bottom:75px;">
                        Forget Password? Click <a href="forgot-password.html">here</a> to Reset Password<br />
                    </div>
                </div>
            </form>
            <hr />
            <span class="text-center mb-0">
                &copy; Copyright ERP 2020 <br />
            </span>
        </div>
        <!-- end login-content -->
    </div>
    <!-- end right-container -->
</div>



<!--<div class="row">
    <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
        <div class="account-page">
            <div class="container">
                <h3 class="account-title"> Login</h3>
                <div class="account-box">
                    <div class="account-wrapper">
                        <div class="account-logo">
                            <a href="index.html">-->
@*<img src="~/assets/img/abc" alt="Focus Technologies"></a>*@
<!--<img src="~/assets/img/ABC.JPG" alt="Focus Technologies" />
    </a>
</div>
@ViewBag.LogError
<div class="form-group">
    <label class="control-label">Username or Email</label>
    <input asp-for="Email" class="form-control " />-->
@*<span asp-validation-for="Email" class="text-danger"></span>*@

<!--</div>
<div class="form-group">
    <label class="control-label">Password</label>
    <input asp-for="Password" class="form-control" />-->
@*<span asp-validation-for="Password" class="text-danger"></span>*@
<!--</div>
                        <div class="form-group text-center">
                            <button class="btn btn-primary btn-block account-btn" type="submit">Login</button>
                        </div>
                        <div class="text-center">
                            <a href="forgot-password.html">Forgot your password?</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>

</div>-->
