@model Asset.Web.Models.CorpEarning

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>CorpEarning</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="ValueAmount" class="control-label"></label>
                <input asp-for="ValueAmount" class="form-control" />
                <span asp-validation-for="ValueAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValueDate" class="control-label"></label>
                <input asp-for="ValueDate" class="form-control" />
                <span asp-validation-for="ValueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateUpdated" class="control-label"></label>
                <input asp-for="DateUpdated" class="form-control" />
                <span asp-validation-for="DateUpdated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedBy" class="control-label"></label>
                <input asp-for="UpdatedBy" class="form-control" />
                <span asp-validation-for="UpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Corpid" class="control-label"></label>
                <input asp-for="Corpid" class="form-control" />
                <span asp-validation-for="Corpid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorpEarningid" class="control-label"></label>
                <input asp-for="CorpEarningid" class="form-control" />
                <span asp-validation-for="CorpEarningid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
